body{
	background: url("../img/blue-spotch.png") no-repeat center -15px;
}

/***** HEADER *****/
header {
	height: 150px;
}

#home-button {
	background: url(../img/yellow-spotch.png) no-repeat -20px -20px;
	padding: 40px 20px 40px 40px;
	float: left;
}

nav {
	font-family: 'Special Elite', serif;
	font-size: 30px;
	float: right;
	width: 30%;
}

/***** NAMD AND TITLE *****/
#name {
	font-family: 'Homemade Apple', cursive;
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	width: 850px;
}

#title {
	font-family: 'Special Elite', serif;
	font-size: 25px;
	margin: 0 auto;
	text-align: center;
}

/***** CONTACT *****/
#contact{
	margin: 0 auto;
	padding-top: 110px;
	width: 135px;
}

#contact a {
	color: #000000;
	font-family: 'Special Elite', serif;
	font-size: 45px;
	text-align: center;
	text-decoration: none;
}
